#screen {
    -fx-padding: 20;
}

#stream {
    -fx-border-color: #171717;
    -fx-border-width: 2;
    -fx-border-style: dotted;
    -fx-border-radius: 5;
}

#stream > Label {
    -fx-font-size: 14;
    -fx-text-fill: #f7f7f7;
}

#control {
    -fx-spacing: 200;
}

#commands {
    -fx-spacing: 20;
}

#commands > Button {
    -fx-border-radius: 3;
    -fx-min-width: 130;
    -fx-min-height: 40;
    -fx-border-width: 1;
    -fx-border-color: #262626;
    -fx-text-fill: #f7f7f7;
    -fx-background-color: linear-gradient(to bottom, #353535, #333333);
}

#joystick {
    -fx-pref-width: 200;
    -fx-pref-hieght: 200;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-max-width: 200;
    -fx-max-height: 200;
}

#stroke {
    -fx-fill: #434343;
    -fx-stroke: darkgray;
    -fx-stroke-width: 2;
}

#base {
    -fx-fill: #434343;
}

#knob {
    -fx-fill: #4287f5;
    -fx-stroke: #425df5;
    -fx-stroke-width: 2;
}

#commands {
}

#actions {
    -fx-padding: 20;
}

#deauth {
}

#deauth > GridPane > Button {
    -fx-min-height: 40;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #1e1e1e;
    -fx-text-fill: #f7f7f7;
}

#start {
    -fx-border-width: 1 0 0 1;
    -fx-border-radius: 3 0 0 0;
}

#stop {
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 0 3 0 0;
}

#model {
    -fx-spacing: 20;
}

#model > Label {
    -fx-font-size: 15;
    -fx-text-fill: #f7f7f7;
}

#commandSelect,
#modelSelect {
    -fx-border-radius: 3;
    -fx-min-width: 200;
    -fx-min-height: 40;
    -fx-border-width: 1;
    -fx-border-color: #262626;
    -fx-text-fill: #f7f7f7;
    -fx-background-color: linear-gradient(to bottom, #353535, #333333);
}

.text-area {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #00ffcc;
    -fx-highlight-fill: #00ffcc33;
    -fx-highlight-text-fill: white;
    -fx-font-size: 13px;
    -fx-border-color: #1e1e1e;
    -fx-background-radius: 0 0 3 3;
    -fx-border-radius: 0 0 3 3;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #2d2d2d;
}
