#window {
    -fx-background-color: #353535;
}

#header {
    -fx-spacing: 20;
    -fx-border-color: #2d2d2d;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(to bottom, #2b2b2b, #272727);
}

#header > Label {
    -fx-font-size: 15;
    -fx-text-fill: #f7f7f7;
    -fx-font-weight: bold;
}

#menu {
    -fx-spacin: 20;
    -fx-border-color: #2b2b2b;
}

#menu > * {
    -fx-text-fill: #f7f7f7;
    -fx-background-color: transparent;
}
